/********** Global **********/

.hero_cell {
  height: 600px;
  width: 100%;

  text-align: center;
}

.hero_content {
  max-width: 900px;
  margin: 0 auto;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero_content h1 {
  text-align: center;
}

.hero_cell .scroll_cell {
  width: max-content;
  margin: 30px auto 0;
}

.hero_cell img {
  margin-top: 30px;
}

.hero_cell a {
  display: block;
  padding-top: 5px;
  text-align: center;
  align-items: flex-end;
}

.hero_cell a img.scrolldown {
  height: 25px;
  color: #ffffff;
  text-align: center;
  margin: 130px 0 30px;
}


#content_cell {
  max-width: 900px;
  margin: 0 auto;
}

.compartment:last-of-type {
  padding-bottom: 0;
}

.compartment {
  padding-top: 70px;
  padding-bottom: 70px;
}

.compartment:after {
  position: absolute;
  bottom: 0;
  width: 500px;
}

.compartment .button {
  text-align: center;
}

.compartment .button a {
  border: 2px solid #3a518f;
  color: #3a518f;
  margin: 50px auto 0;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.compartment .button a:hover {
  border: 2px solid #c0c4da;
  color: #c0c4da;
  transition: .15s ease-in-out;
}

.collapse:hover {
  cursor: pointer;
}


/********* JS SLIDER *********/

.vslider {
  position: relative;
  overflow: hidden;
  height: auto;
  padding-bottom: 70px;
}

.vslider > * {
  display: block;
  position: relative;
}

.vslider > * + * {
  display: none;
  position: absolute;
}

.vslider-item {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  /* -ms-touch-action: none;
  touch-action: none; */
  transition: z-index 0s,
  opacity .8s ease-in-out,
  transform .4s ease-in-out;
  z-index: 20;
  opacity: 0;
  transform: translateX(-10%);
  padding-top: 15px;
}

.vslider-item:first-child {
  padding-top: 15px;
}

.vslider-item[aria-hidden='false'] {
  /* hack for Edge 16?! */
  transition: z-index 0s,
  opacity .8s ease-in-out,
  transform .4s ease-in-out;
  z-index: 30;
  opacity: 1.0;
  transform: translateX(0);
}

.vslider-before {
  z-index: 10;
  opacity: 0;
  transform: translateX(10%);
}

.vslider-direct {
  transition: none;
}

.vslider-status {
  display: block;
  list-style: none;
  z-index: 20;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vslider-status-item {
  cursor: pointer;
  font-size: 0.65rem;
  width: 15%;
  height: 10px;
  line-height: 1;
  color: #c0c4da;
  background: #c0c4da;
  transition: 0.3s;
  z-index: 20;
}

.vslider-status-item-active {
  color: #3a518f;
  background: #3a518f;
  z-index: 20;
}

.vslider-status-item:hover,
.vslider-status-item:focus,
.vslider-status-item[aria-selected='true'] {
  color: #3a518f;
  background: #3a518f;
}

.vslider-nav {
  display: none;
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

.vslider-prev,
.vslider-next {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  line-height: 1;
  font-size: 1em;
  border: none;
  color: currentColor;
  background: none;
  opacity: 0;
  height: 100%;
  vertical-align: top;
  width: 15%;
  font-size: 3rem;
  display: inline-block;
}

.vslider-prev {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 65% 30%, 65% 10%, 10% 50%, 65% 90%, 65% 70%, 100% 70%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 65% 30%, 65% 10%, 10% 50%, 65% 90%, 65% 70%, 100% 70%, 100% 100%, 0% 100%);
}

.vslider-next {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 70%, 35% 70%, 35% 90%, 90% 50%, 35% 10%, 35% 30%, 0% 30%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 70%, 35% 70%, 35% 90%, 90% 50%, 35% 10%, 35% 30%, 0% 30%);
}

.vslider-prev:hover,
.vslider-next:hover {
  opacity: 1;
  transition: .125s ease-in-out;
  color: white;
}

.vslider-prev:hover {
  background: linear-gradient(to left, #ffffff 0%, rgba(192, 196, 218, .5) 70%, #c0c4da 100%);
  border-top-left-radius: 7px;
}

.vslider-next:hover {
  background: linear-gradient(to right, #ffffff 0%, rgba(192, 196, 218, .5) 70%, #c0c4da 100%);
  border-top-right-radius: 7px;
}

.vslider-next {
  left: auto;
  right: 0;
}

.vslider-prev:after {
  content: none;
}

.vslider-next:after {
  content: none;
}

.vslider p, .vslider h6  {
  padding: 0 30px;
}

.vslider h6 {
  padding-top: 20px;
  font-weight: 700;
}

/********** INDEX **********/

.feature_pop {
  display: flex;
  justify-content: space-between;
}

figure.feature {
  width: 260px;
  margin: 0;
  box-shadow: 2px 3px 5px rgba(0,0,0,.125);
  padding-bottom: 15px;
}

figure.feature div {
  display: flex;
  align-items: flex-end;
  height: 225px;
  background-size: cover;
}

figure.feature h3,figure.feature h6, figure.feature a {
  color: #fff;
  padding: 15px;
}

figure.feature h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

figure.feature h6 {
  color: #555860;
  padding: 15px;
  font-weight: 500;
}

figure.feature a {
  color: #3a518f;
  font-weight: 700;
}

figure.feature a:hover {
  color: #c0c4da;
}

#feature1 {
  background-image: url(../assets/images/hp_feature_mediation.jpg);

}

#feature2 {
  background-image: url(../assets/images/hp_feature_willstrusts.jpg);
}

#feature3 {
  background-image: url(../assets/images/hp_feature_familylaw.jpg);
}


/********** WHO WE ARE **********/
img.profile_pic {
  width: 100%;
  max-width: 450px;
  float: left;
  margin-right: 70px;
  margin-bottom: 40px;
}

/* .compartment ul li:before {
  list-style-type: square;
} */

.compartment ul li:first-child {
  margin-top: 30px;
}

.compartment ul li {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
    padding: 0 30px;
}

.compartment ul h5 {
  font-size: 1.175rem;
  max-width: 80%;
}

.compartment ul p {
  color: #3a518f;
  font-weight: 700;
}

#whatwedo ul li, #howtoprepare ul li {
  display: block;
}

#whatwedo ul li h5, #howtoprepare ul li h5 {
  width: 100%;
  max-width: 100%;
  font-weight: 500;
  padding-right: 30px;
}

#whatwedo .compartment ul li .collapse:after {
  content: '\002B';
  color: #3a518f;
  float: right;
  max-height: auto;
  font-weight: 700;
}

#whatwedo .compartment ul li .collapse_active:after {
  content: "\2212";
  color: #3a518f;
  float: right;
  max-height: auto;
}

#howwecanhelp .compartment ul li {
  display: block;
  margin: 50px 20px;
  padding: 0;
  height: 100%;
  box-shadow: 2px 3px 5px rgba(0,0,0,.125);
  border-radius: 7px;
}

#howwecanhelp .compartment ul li:first-of-type {
  margin-top: 0;
}

#howwecanhelp .compartment ul li .icon {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  background-image: url(../assets/images/trianglify.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #3a518f;
  border-top-left-radius: 7px;
}

#howwecanhelp .collapse:hover {
  cursor: pointer;
}

#howwecanhelp .collapse .top {
  display: flex;
}

#howwecanhelp ul h4 {
  font-weight: 500;
}

#howwecanhelp ul h6 {
  padding-top: 10px;
}

#howwecanhelp ul p {
  color: #555860;
  font-weight: 400;
  margin-bottom: 10px;
}

#howwecanhelp .readmore {
  text-align: center;
  padding: 15px;
  background-color: #5d657a;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

#howwecanhelp .readmore h5 {
  color: #ffffff;
  display: initial;
}

#howwecanhelp .collapse .summary {
  padding: 12px 0 0 60px;
  display: flex;
  flex-direction: column;
}

#howwecanhelp ul li img {
  max-width: 160px;
  max-height: 150px;
  margin: auto;
  width: 100%;
}

#howwecanhelp ul li :after {
  display: none;
}

#howwecanhelp .content {
  transition: max-height 0.5s ease-out;
}

#howwecanhelp .compartment ul .content p {
  padding-bottom: 0;
  padding-left: 40px;
  padding-right: 40px;
}

#howwecanhelp .compartment ul .content p:last-child {
  padding-bottom: 20px;
}


#howtoprepare .compartment ul li .collapse:after {
  content: url(../assets/icons/question-circle.svg);
  color: #3a518f;
  max-height: auto;
  display: inline-block;
  padding-left: 15px;
  width: 10px;
  position: relative;
  top: -3px;
}

#howtoprepare .compartment ul li {
  padding-left: 20px;
  border-left: 3px solid #3a518f;
  margin-left: 30px;
}

#howtoprepare .compartment hr {
  margin-top: 70px; margin-bottom: 70px;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.compartment ul .content p {
    padding: 15px 0;
    color: #555860 !important;
    font-weight: 400;
    margin-bottom: 0 !important;
}

.custom-map iframe {
  width: 100%;
  height: 600px;
}

.connect img {
  height: 19px;
  display: inline-block;
  margin-top: 0;
  padding: 5px 0 0 0;
}

.connect h3 {
  padding: 0 10px;
  color: #c0c4da;
  display: inline-block;
  vertical-align: top;
}

.connect a {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding-top: 5px;
  margin: 0 20px;
}

.connect a h3 {
  color: #ffffff;
  line-height: 1.75rem;
}

#booking .formFooter {
  display: none !important;
}

@media screen and (min-width: 768px) {

#booking .supernova .form-all, .form-all {
  background-color: none;
  border: none;
  box-shadow: none !important;
}

#booking .jotform-form {
  padding: 0 !important;
}
}

/********** RESPONSIVE **********/
@media screen and (max-width: 768px) {

.feature_pop {
  display: block;
}

figure.feature {
  width: 100%;
  margin-bottom: 20px;
}

figure.feature h6 {
  font-size: 1.125rem;
  padding: 20px 15px;
}

figure.feature:last-child {
  margin-bottom: 0;
}

.vslider {
  position: relative;
  overflow: hidden;
  height: auto;
  padding-bottom: 70px;
}

.compartment ul li:first-child {
  margin-top: 30px;
}

.compartment ul li:first-child {
  margin-top: 30px;
}

.compartment ul li {
  display: block;
  text-align: left;
  margin-top: 50px;
  padding: 0;
}

#howwecanhelp .collapse .top {
  display: block;
  box-sizing: border-box;
}

#howwecanhelp .compartment ul li .icon {
  margin: 0 auto;
  width: 100%;
  height: 250px;
  border-top-right-radius: 7px;
}

#howwecanhelp ul li img {
  max-width: 230px;
  max-height: 210px;
}

#howwecanhelp .collapse .summary {
  padding: 20px;
}

#howwecanhelp ul p {
  line-height: 1.5rem;
}

#howwecanhelp ul h6 {
  padding-top: 20px;
}

#howwecanhelp .compartment ul .content {
  padding-left: 10px;
  padding-right: 10px;
}

#howwecanhelp .compartment ul .content p {
  padding-left: 12px;
  padding-right: 12px;
}

.custom-map iframe {
  height: 300px;
}

#howtoprepare .compartment ul li {
  margin-left: 10px;
}

#howtoprepare .compartment ul li .collapse:after {
  width: 12px;
  float: right;
  padding-left: 5px;
  line-height: 2.125rem;
}

}
