/* Global */

.hero_cell {
  height: 600px;
  width: 100%;
  display:table;
}

.hero_content {
  max-width: 900px;
  margin: 200px auto 130px;
}

.hero_content h1 {
  text-align: center;
}

.hero_cell .scroll_cell {
  width: max-content;
  margin: 30px auto 0;
}

.hero_cell a {
  display: block;
  padding-top: 5px;
}

.hero_cell a img.scrolldown {
  height: 25px;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}


#content_cell {
  max-width: 900px;
  margin: 70px auto 0;
}




/* Index */
#index .hero_cell {
  background-image: url(../assets/images/lohe_swoosh_bg.svg);
  background-size: cover;
}



 #index .hero_cell::before {
   content: "";
  background: linear-gradient(270deg, #2f3136, #555860, #3a518f);
  background-size: 600% 600%;
  opacity: 0.9;
  height: 600px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
 }

 @-webkit-keyframes AnimationName {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
 }
 @-moz-keyframes AnimationName {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
 }
 @keyframes AnimationName {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
 }


















@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.animated {
  /* animation-duration: 1s; */
  animation: 1.5s 2;
  animation-timing-function: ease-out;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}
