/********** Global **********/

.hero_cell {
  height: 600px;
  width: 100%;

  text-align: center;
}

.hero_content {
  max-width: 900px;
  margin: 0 auto;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero_content h1 {
  text-align: center;
}

.hero_cell .scroll_cell {
  width: max-content;
  margin: 30px auto 0;
}

.hero_cell img {
  margin-top: 30px;
}

.hero_cell a {
  display: block;
  padding-top: 5px;
  text-align: center;
  align-items: flex-end;
}

.hero_cell a img.scrolldown {
  height: 25px;
  color: #ffffff;
  text-align: center;
  margin: 130px 0 30px;
}


#content_cell {
  max-width: 900px;
  margin: 0 auto;
}

.compartment:first-of-type {
  margin-top: 70px;
}

.compartment {
  margin-top: 70px;
  padding-bottom: 70px;
}

.compartment:after {
  position: absolute;
  bottom: 0;
  width: 500px;
}

.compartment .button {
  text-align: center;
}

.compartment .button a {
  border: 2px solid #3a518f;
  color: #3a518f;
  margin: 50px auto 0;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.compartment .button a:hover {
  border: 2px solid #c0c4da;
  color: #c0c4da;
  transition: .15s ease-in-out;
}




/********* JS SLIDER *********/

.vslider {
  position: relative;
  overflow: hidden;
  height: 230px;
}

.vslider > * {
  display: block;
  position: relative;
}

.vslider > * + * {
  display: none;
  position: absolute;
}

.vslider-item {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  /* -ms-touch-action: none;
  touch-action: none; */
  transition: z-index 0s,
  opacity .8s ease-in-out,
  transform .4s ease-in-out;
  z-index: 20;
  opacity: 0;
  transform: translateX(-10%);
}

.vslider-item[aria-hidden='false'] {
  /* hack for Edge 16?! */
  transition: z-index 0s,
  opacity .8s ease-in-out,
  transform .4s ease-in-out;
  z-index: 30;
  opacity: 1.0;
  transform: translateX(0);
}

.vslider-before {
  z-index: 10;
  opacity: 0;
  transform: translateX(10%);
}

.vslider-direct {
  transition: none;
}

.vslider-status {
  display: block;
  list-style: none;
  z-index: 110;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.vslider-status-item {
  cursor: pointer;
  display: inline-block;
  font-size: 0.5em;
  width: 1em;
  height: 1em;
  line-height: 1;
  color: #000;
  background: #000;
  border: 0.1em solid #fff;
  border-radius: 100%;
  margin: 0 0.5em;
  transition: 0.3s;
  opacity: 0.3;
}

.vslider-status-item:hover,
.vslider-status-item:focus,
.vslider-status-item[aria-selected='true'] {
  opacity: 0.6;
}

.vslider-nav {
  display: block;
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.vslider-prev,
.vslider-next {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  line-height: 1;
  font-size: 1em;
  border: none;
  color: currentColor;
  background: none;
  opacity: 0.6;
}

.vslider-prev:hover,
.vslider-prev:focus,
.vslider-next:hover,
.vslider-next:focus {
  opacity: 1;
}

.vslider-next {
  left: auto;
  right: 0;
}

.vslider-prev:after {
  content: '<';
}

.vslider-next:after {
  content: '>';
}

/********** INDEX **********/

.feature_pop {
  display: flex;
  justify-content: space-between;
}

figure.feature {
  width: 260px;
  margin: 0;
  box-shadow: 2px 3px 5px rgba(0,0,0,.125);
  padding-bottom: 15px;
}

figure.feature div {
  display: flex;
  align-items: flex-end;
  height: 225px;
  background-size: cover;
}

figure.feature h3,figure.feature h6, figure.feature a {
  color: #fff;
  padding: 15px;
}

figure.feature h3 {
  font-weight: 500;
}

figure.feature h6 {
  color: #555860;
  padding: 15px;
  font-weight: 500;
}

figure.feature a {
  color: #3a518f;
  font-weight: 500;
}

figure.feature a:hover {
  color: #c0c4da;
}

#feature1 {
  background-image: url(../assets/images/lawyer_bg_placeholder.jpg);

}

#feature2 {
  background-image: url(../assets/images/lawyer_bg_placeholder2.jpg);
}

#feature3 {
  background-image: url(../assets/images/lawyer_bg_placeholder_3.jpg);
}

{}
