/* GLOBAL */

body {
  margin: 0;
  padding: 0;
  border: 0;
  background: #ffffff;
  color: #000000;
  font-family: 'Tajawal', sans-serif;
  width: 100%;
}

a, a::after, a::before {
  margin: 0;
  padding: 0;
  border: 0;
}


h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 4rem;
  color: #ffffff;
  margin: 0;
}

h2 {
    margin-top: 30px;
    font-size: 1.7em;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
}

p {
    line-height: 1.7;
}

a {
  text-decoration: none;
  color: inherit;
}

.button a {
  border: 2px solid #fff;
  border-radius: 7px;
  background-color: transparent;
  padding: 10px 50px;
  color: #fff;
  text-decoration: none;
}


/* GLOBAL MODIFIERS */
.center { text-align: center; }


/* PUSH MENU */
#menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    padding: 50px 0;
    -webkit-transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
    text-align: center;
    background-color: rgba(0,0,0,.85);
}
#menu .brand {
    height: 51px;
    font-size: 70px;
    font-weight: 900;
    line-height: .6;
    color: #ddd;
}
#menu ul {
    padding: 0;
    margin-top: 30px;
}

#menu ul li a {
    display: block;
    text-align: left;
    padding-left: 40px;
    font-weight: 400;
    line-height: 50px;
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    text-decoration: none;
    color: #fff;
}
#menu ul li:first-child a {
    padding-top: 30px;
}
#menu ul li a:hover {
    letter-spacing: 1px;
}
body.open #menu {
    left: 0;
}
/* MAIN PAGE */
.page-wrap {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
}

/* MENU TOGGLE ICON */

button#menu-toggle {
  text-align: right;
  padding: 0;
  border: 2px solid #fff;
}

button:focus {
    outline: none;
}

button#menu-toggle span {
  font-size: 1.75rem;
  position: relative;
  top: -1px;
  margin-left: 45px;
  margin-right: 15px;
  color: #fff;
  box-sizing: content-box;
}

#menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    border: none;
    height: 42px;
    cursor: pointer;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
    background: rgba(47,49,54,.5);
}
#menu-toggle:before,
#menu-toggle:after {
    position: absolute;

    content: "";
    content: "";
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
    background-color: #fff;
}

#menu-toggle:before {
    top: 9px;
    left: 22px;
    width: 2px;
    height: 20px;
    color: white;
}
#menu-toggle:after {
    top: 18px;
    left: 13px;
    width: 20px;
    height: 2px;
}

body.open button#menu-toggle:before,
body.open button#menu-toggle:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}


/* CLIENT PATH */
section#clientpath {
  width: 100%;
  background-color: #5d657a;
  margin-top: 130px;
  text-align: center;
  color: #fff;
}

section#clientpath h4 {
  padding-top: 30px;
  width: 320px;
  margin: 0 auto 20px;
  font-weight: 400;
}

section#clientpath .clientpath_button {
  padding-bottom: 30px;
}

section#clientpath .clientpath_button a {
  display: inline-block;

}




/* FOOTER */
footer {
  width: 100%;
  background-color: #5d657a;
  text-align: center;
  margin-top: 30px;
}

footer h6 {
  display: inline-block;
  border-right: 1px solid #fff;
  color: #fff;
  padding: 0 10px;
  margin: 10px 0;
  font-weight: 400;
}

footer h6:last-of-type {
  border-right: none;
}
